html,
body {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	font-family: "Heebo", sans-serif;
}
.App {
	position: relative;
	display: flex;
	box-sizing: border-box;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 90vmin;
	width: 90vmin;
	overflow-y: auto;
	background-color: whitesmoke;
	cursor: pointer;
	box-shadow: 0 20px 80px 5px #423b3bb4;
}

.center-outer-div {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 100vh;
	width: 100vw;
}

.corner1 {
	/* border: 1px solid black; */
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 50%;
	background: slategray;
}
.corner2 {
	margin: 0 auto;
	align-content: center;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	height: 50%;
	width: 50%;
	background: salmon;
}
.corner3 {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	width: 50%;
	background: rgb(73, 182, 173);
}
.corner4 {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 50%;
	width: 50%;
	background-color: rgb(33, 155, 196);
}
.grow {
	position: absolute;
	padding: 0;
	height: 60%;
	width: 60%;
	z-index: 9999;
	box-shadow: 0 0 40px 5px #423b3bb4;
	transition: width 500ms, height 500ms;
}

.shrink {
	/* border: 1px solid black; */
	height: 50%;
	width: 50%;
	z-index: 0;
	transition: width 500ms, height 500ms, z-index 500ms, background-color 1000ms;
}

.selected {
	height: 100%;
	width: 100%;
	z-index: 9999;
	background-color: whitesmoke;
	overflow-y: auto;
	transition: width 500ms, height 500ms, background-color 1500ms;
	animation: 1.5s delay-overflow;
}

.subject-div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.corner-full-container {
	margin: 0 auto;
	width: 80vmin;
	height: 80vmin;
}

.bio-container {
	height: 80vmin;
}

@keyframes delay-overflow {
	0% {
		overflow-y: hidden;
	}
	100% {
		overflow-y: auto;
	}
}
