html,
body {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
}
.App {
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
}
.corner1 {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 50%;
	background: slategray;
	transition: 250ms;
}
.corner2 {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	height: 50%;
	width: 50%;
	background: salmon;
}
.corner3 {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50%;
	width: 50%;
	background: rgb(190, 253, 165);
}
.corner4 {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 50%;
	width: 50%;
	background: lightblue;
}
.grow {
	height: 60%;
	width: 60%;
	z-index: 9999;
	transition: width 500ms, height 500ms;
}

.shrink {
	height: 50%;
	width: 50%;
	z-index: 0;
	transition: width 500ms, height 500ms, z-index 500ms;
}

.selected {
	height: 100%;
	width: 100%;
	z-index: 9999;
	transition: width 500ms, height 500ms;
}

@keyframes grow {
	0% {
		height: 50%;
		width: 50%;
	}

	100% {
		height: 60%;
		width: 60%;
		z-index: 9999;
	}
}
